/* General Styles */
body {
    font-family: 'Fuzzy Bubbles', cursive;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styles */
header {
    background-color: #FC466B;
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.8rem;
    font-weight: bold;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

header nav a:hover {
    text-decoration: underline;
}

/* Main Content Styles */
main#mainContent {
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#organizeMeetingSection {
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
}

#organizeMeetingSection h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

/* Form Styles */
#meetingForm label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#meetingForm input,
#meetingForm select {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Amenities Styles */
.checkbox-group {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    margin-bottom: 1rem;
    /* flex-direction: column; */
}

.checkbox-group label {
    /* margin: 0; */
    flex: 1;    
    /* text-align: left; */
}

    .checkbox-group input[type="checkbox"] {
        flex: 0;
        margin-left: 1rem;
        transform: scale(1.5); 
        /* margin-top: 2rem; */
    }

/* Footer Styles */
footer {
    background-color: #FC466B;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    position: relative;
    bottom: 0;
    clear: both;
}
