/* General Styles */
body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background-color: #FC466B; /* Red color for the header */
    color: white;
    padding: 1rem;
    text-align: center;
    position: relative;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

/* Navigation */
header nav {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 2rem;
}

header nav a:hover {
    text-decoration: underline;
}
/* #mainContent {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 20px; 
} */
/* Main Content */
main#mainContent {
    padding: 1rem;
    text-align: left;
    flex: 1; /* Allow main content to grow and push footer down */
}

#homePage {
    margin-bottom: 2rem;
    flex: 1;
    padding: 20px;

}

#homePage h1 {
    font-size: 2.5rem;
    font-weight: bold;
    /* box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1), -15px -15px 15px rgba(0, 0, 0, 0.1); */
}
#homePage p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Background Image Section */
#backgroundImage {
    flex: 1;
    background: url('image2.jpg') no-repeat center center;
    /* margin-top: 2rem; */
    /* padding-top: 15%; */
    background-size: cover;
    align-items: center;
    width: 80%;
    min-height: 4   00px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1), -15px -15px 15px rgba(0, 0, 0, 0.1);
    height: 100%; /* Adjust height as needed */
    /* margin-bottom: 0rem; */
}

/* Footer */
footer {
    background-color: #FC466B; /* Red color for the footer */
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    height: inherit;
    clear: both;
}